
/* ==========================================================================
   Grid styles
   ========================================================================== */

#grid-container
{
   width: 95%;     
   margin: 0 auto;
   font-size: 75%;
   box-shadow: 10px 10px 15px #8C897A;
   display: none;
}
#grid-container table
{
    width: 100%;
    border: 1px solid silver;    
}
#grid-container table caption.titleBar
{
    background-color: #667F55;
    color: #1B1A15;
    text-align: left;
    font-size: 1.5em;
    padding: 0 5px;
    height: 35px;
}
#grid-container table thead .header
{
    background-color: #8C897A;
    border-bottom: 2px solid #D7D4C3;
    color: #FFFFFF;
    font-weight: 600;
    height: 35px;
    font-size: 1.5em;
}
#grid-container table tbody tr:nth-child(even)
{
    background-color: #EBEAE1;
}
#search-container
{  
    background: none repeat scroll 0 0 #4C4532;
    border: 2px solid #CCCCCC;
    box-shadow: 2px 2px 9px #333333;
    height: 35px;
    margin: 5px 30px;
    width: 60%;
    color:  #D7D4C3;
    line-height: 5px;
    position: relative;
}
#search-container ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#search-container ul li
{
    float: left;
    width:  165px;
}
#search-container .go
{
    float: right;
    height: 50px;
    line-height: 18px;
    margin: 0 0 0 10px;
    padding: 0;
    position: absolute;
    right: -56px;
    top: -9px;
    width: 56px;
}
#search-container .go:hover
{
    cursor: pointer;   
}
#search-container ul li span
{
    font-size: 88%;
    line-height: 26px;
    padding: 0 3px;
}
#search-container ul li input
{
    width: 160px
}

/***********************
    About    
************************/

#about-container
{
    margin: 72px auto 0 auto;
    padding: 0;
    width: 85%;
    height: 600px;
    border: 1px solid silver;
    position: relative;  
    box-shadow: 5px 5px 7px #A1A1A1;
    border-radius: 18px 18px;
    display: none;
}
#about-container .past
{
    background: none repeat scroll 0 0 #000;
    font-size: 1.2em;
    color: yellowgreen;
    height: 229px;
    margin: 0;
    padding: 0 1%;
    width: 37%;
    border-top-left-radius: 15px;
    display: none;
}
#about-container .past h1 { font-size: 3em; letter-spacing: .8em;}
#about-container .past h2 { color: #D7D4C3; }
#about-container .past h3 
{
    color: #8C897A;
    font-size: 0.7em;
    margin-right: 20px;
    text-align: right;    
}
#about-container .what
{
    background: none repeat scroll 0 0 lightblue;
    font-size: 82%;
    height: 229px;
    margin: 0;
    padding: 0 23px;
    width: 35%;
    border-top-left-radius: 15px;
    display: none;
}
#about-container .logs
{
    background: none repeat scroll 0 0 #9BB5D2;
    font-size: 90%;
    height: 600px;
    margin: 0;
    padding: 0 1%;
    width: 59%;
    float: right;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: none;
}
#about-container .analytics
{
    background: none repeat scroll 0 0 #D7D4C3;
    bottom: 0;
    font-size: 63%;
    height: 369px;
    left: 0;
    margin: 0;
    padding: 0 1%;
    position: absolute;
    width: 37%;
    border-bottom-left-radius: 15px;
    display: none;
}
#about-container .past:hover, #about-container .logs:hover, #about-container .analytics:hover
{
    opacity: 1;
    background: yellowgreen;
}
#about-container .past:hover h2 { font-size: 1.4em; text-align: center;  color: #EBEAE1; }
#about-container .logs:hover {  }

/****************** Reports **********************/

.report-container
{
    width: 90%;
    height: 600px;
    margin: 20px auto;
    padding: 0;
    outline: 1px dotted silver;
}
.report-container > div
{
    width: 50%;
    height: 300px;
    margin: 0;
    outline: 1px solid #DDD;
    float: left;
}
.report-container div:first-child { background: #7DC322; }
.report-container > div:hover
{
    background: #EBEAE1;
}

/*************** JQGrid styles copied from ui.jqgrid.css ********/

#gbox_grid {
     margin-top:1%;
     margin-left:2%;
     box-shadow: 0 10px 10px #A1A1A1;
     border-radius: 5px;
     behavior: url('/PIE/PIE.htc');
     height:auto;
     font-family: Segoe UI, Verdana;
   }


.ui-jqgrid-titlebar {
    background:#667F55;
    color: #1B1A15;
    border-color:#D7D4C3;
}

/* table column header background color */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
{
    background-color: #8C897A;
    color: #FFFFFF;
    border-bottom: 1px solid #D7D4C3;
    font-family: Segoe UI, Verdana;
}
/* Header row table - the header row is a separate table */
.ui-jqgrid .ui-jqgrid-htable 
{
    border: 1px solid #D7D4C3;
}
.ui-jqgrid .ui-jqgrid-htable th 
{
    border: 1px solid #D7D4C3;
}

table tbody tr:nth-child(even)
{
    background-color: #EBEAE1;
}
.ui-jqgrid .loading
{
    border-color:#6AC4EA;
    color:#ff6a00;
}
/* table cells border color*/
#grid.ui-jqgrid-btable tr td {
    border-color:#D7D4C3;
}

input.ui-pg-input { width: auto; }
table
{
    border-style: none;
    border-collapse: separate;
}
table td
{
    border-style: none;
}
/*********** End JqGrid custom styles *****************/


@media only screen and (max-width: 810px) {
 
    #about-container .past h1 { font-size: 1.1em; }
    #about-container .past h2{ font-size: .9em; }
    #about-container .past:hover h2 { font-size: .8em; }       
}